/*
Botones, hover: #FF00BF
Fondo de footer: #333447
Título del formulario: #352384
Texto del formulario: #728099
Gradiente morado: linear-gradient(#76278F, #2B1E66);
 */
 .text-uppercase {
  text-transform: uppercase;
}
 body{
 	margin: 0;
 	font-family: 'Montserrat', sans-serif;
 }
/*///////////////////////////////   HEADER (ESTÁTICO)   //////////////////////////////////*/
 header{
 	width: 100%;
 	/*background: #2A2740;*/
 	position: fixed;
 	top: 0;
 	height: 120px;
 	padding-left: 85px;
 	z-index: 2;
 	transition: background ease .6s;
 }
 /*intento de efecto para que no se pierda el menu*/
 header:hover{
 	background:#2A2740;
 }
 /*Logo Header*/
 header img{
 	width: 60px;
 	float: left;
 }
 .menu{
 	/*background:red;*/
 	width: 85%;
 	margin: 35px auto;
 	overflow: hidden;
 	
 	float: left;
 }
 .menu ul{
 	/*outline: 1px solid red;*/
 	margin: 0;
 	padding: 0;
 	display:inline-block;
 	float: right
 	
 }
 .menu li{
 	/*outline: 1px solid blue;*/
 	display: inline-block;
 	list-style: none;
 	padding: 12px;
 	margin-left: 32px;
 	font-size: 1.1em;
 }
 .menu li:last-child{
 	border:1px solid #FFF;
 	border-radius: 5px;
 	padding: 12px 16px;
 }
 .menu li a{
 	text-decoration: none;
 	color: #FFF;
 }
 .menu li a:hover{
 	color: #FF00BF;
 }
 .menu li a.login:hover{
 	color: #FFF;
 }
/*///////////////////////////////////   COMIENZA PRIMERA SECCIÓN (START)   /////////////////////////////////////*/
section.start{
	width: 100%;
	height: 560px;
	/*primer linear, sobre img, segundo linear, bajo img*/
	background: linear-gradient(to bottom, transparent 85%,#70268C), url("../assets/images/hero.gif") no-repeat 75% 54%, linear-gradient(to bottom, #190F2F,#691B84);
	background-size: 100%;
}
.invite{
	background:#FFF;
	width: 41%;
	float: right;
	margin-top: 120px;
	padding: 66px 0 30px 0;
	box-sizing: border-box;
}
.center{
	width: 75%;
	margin:0 auto;
	box-sizing: border-box;
}
.start h2{
	font-size: 40px;
	margin: 0;
	color:#352384;
	line-height: 1em;
}
.start h5{
	margin-top: 5px;
	color:#352384;
	line-height: 2em;
	font-size: .9em;
}
.start input{
	width: 100%;
	border:none;
	border-bottom: .5px solid #352384;
	padding-bottom: 10px;
	font-size:14px;
	font-family: 'Montserrat';
	outline: none;
}
#btn-sign{
	padding: 15px 18px;
	color: #FFF;
	background: #FF00BF;
	display: inline-block;
	border-radius: 7px;
	text-decoration: none;
	margin: 40px 20px 20px 0;
}
.sign-up{
	color:#728099; 
}
.text-small{
	color:#728099; 
	font-size: .6em;
}
.text-small a{
	color:#8B97AB; 
	text-decoration: none;
}
.start a:hover{
	color:#FF00BF;
	text-decoration: underline;
}
/*///////////////////////////////////   COMIENZA SEGUNDA SECCIÓN (REASONS)   /////////////////////////////////////*/
.reasons{
	background:linear-gradient(to bottom, #70268C 20%,#2B1E66 );
	width: 100%;
	padding:60px 0;
	box-sizing: border-box;
	overflow: hidden;
	color:#FFF;

}
.reasons p{
	margin-bottom: 6%;
	width: 40%;
}
.reasons img{
	width: 44%;
	float: right;
}
/*///////////////////////////////////   COMIENZA TERCERA SECCIÓN (VIDEOS)   /////////////////////////////////////*/
h6{
	font-size: 11px;
	margin: 0;
}
h3{
	margin: 0 0 25px 0;
	font-size: 28px;
}
.text-left{
	float: left;
	display: inline-block;
	padding: 40px;
	width: 30%;
	box-sizing: border-box;
	height: 510px;
}
.text-right{
	float: right;
	display: inline-block;
	padding: 40px;
	width: 30%;
	box-sizing: border-box;
	height: 510px;
}
iframe{
	width: 70%;
	height: 510px;
	display: block;
}
/*///////////////////////////////////   COMIENZA FOOTER   /////////////////////////////////////*/
footer{
	background: #333447;
	width: 100%;
	padding-top: 60px;
	overflow: hidden;
}
footer ul{
	display: inline-block;
	list-style: none;
	margin:0 6%;
	padding: 0;
}
.footer-list li{
	color:#FFF;
	margin-bottom: 25px;
	font-weight: lighter;
}
.footer-list li:first-child{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
}
footer a{
	color: #FFF;
	text-decoration: none;
}
footer a:hover{
	color: #FF00BF;
	text-decoration: underline;
}
footer li img{
	width: 130px;
	margin-top: 17px;
}
footer div:first-child{
	width: 90%;
	margin:0 auto;
	/*equidistancia entre elementos del div*/
	display: flex;
	justify-content: space-between;

}
footer div:last-of-type{
	text-align: center;
	font-size: 1.2em;
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;

}
footer hr{
	border:.5px solid white;
	width: 50%;	
	margin: 30px auto;
}
.icon{
	color:#FFF;
	border:.5px solid #FFF;
	width: 35px;
	height: 35px;
	line-height: 1.85em;
	border-radius: 50%;
	margin: 0 35px;
}
footer p{
	color:#FFF;
	text-align: center;
	font-size: 15px;
	padding: 30px 0 60px 0;
}